<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Festo</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.765240996121-46lmlh22vt9hchbug1dln24lt0h7pliv</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CodePushDeploymentKey</key>
	<string>lLAP9zsqOdvDg-wy3frIgk1zZ5GxZkqhu-o2o</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>This app requires for user photo upload or select from PhotoLibrary</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app requires user location to find nearby parties</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This app requires user location to find nearby parties</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app requires user location to find nearby parties</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app requires for user photo upload or select from PhotoLibrary</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Your usage description here</string>
	<key>Privacy – Camera Usage Description</key>
	<string>App needs camera access permission for user profile</string>
	<key>Privacy – Photo Library Additions Usage Description</key>
	<string>App needs photo library Access for user to select his photo</string>
	<key>UIAppFonts</key>
	<array>
		<string>Sarina-Regular.ttf</string>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>Zocial.ttf</string>
		<string>Fontisto.ttf</string>
		<string>DMSansRegular.ttf</string>
		<string>DMSansMedium.ttf</string>
		<string>DMSansMediumItalic.ttf</string>
		<string>DMSansBold.ttf</string>
		<string>DMSansBoldItalic.ttf</string>
		<string>DMSansItalic.ttf</string>
		<string>FestoIcon.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>bugsnag</key>
	<dict>
		<key>apiKey</key>
		<string>BUGSNAG-API-KEY</string>
	</dict>
</dict>
</plist>
